{{outlet}}

<div class="row">
    <div class="col s1"> </div>
    <div class="parallax-container col s10">
        <div class="parallax">
            <img src="https://img00.deviantart.net/00d2/i/2013/204/1/8/batman__minimalistic_wallpaper_by_mak002-d6efibn.jpg">
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
