{{outlet}}

<div class="row">
    <div class="col s1"> </div>
    <div class="parallax-container col s10">
        <div class="parallax">
            <img src="https://media-exp2.licdn.com/mpr/mpr/AAEAAQAAAAAAAAaRAAAAJDg1NWJlNzgwLTc1MjgtNGU1MS05YmYwLWJlY2NiM2Q1OTg0Ng.jpg">
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>