<nav class="nav-extended">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab">
            <a href="#lista">Lista de Publicaciones</a>
        </li>
        <li class="tab">
            <a class="active" href="#agregar">Agregar Publicación</a>
        </li>
      </ul>
    </div>
</nav>

<div class="row">
    <div class="col s1"></div>
    <div class="col s10">  
        <a> </a>
    </div>
    <div class="col s1"></div>
</div>

<div class="row">
    <div class="col s1"></div>
    <div id="#lista" class="col s10">  
        MyListComponent
    </div>
    <div class="col s1"></div>
</div>

<div class="row">
    <div class="col s1"></div>
    <div id="#agregar" class="col s10">  
        MyAddComponent
    </div>
    <div class="col s1"></div>
</div>
