{{!--Menu--}}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Manager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a{{action 'cerrarSesion'}}>Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>

<nav>
    <div class="nav-wrapper">
        <a class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                {{#link-to 'index-manager'}}
                    Inicio
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'index-manager.equipo'}}
                    Equipo
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'index-manager.encuentros'}}
                   Encuentros
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'index-manager.miembros'}}
                    Miembros
                {{/link-to}}
            </li>
             <li>
                {{#link-to 'index-manager.publicaciones'}}
                    Publicaciones
                {{/link-to}}
            </li>
        </ul>
    </div>
</nav>

{{outlet}}

<!--footer-->