<!--Menu-->
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Administrador</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a{{action 'cerrarSesion'}}>Cerrar Sesión</a></li>
        </ul>
    </div>
</nav>
        
<nav>
    <div class="nav-wrapper">
        <a class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                {{#link-to 'index-admin'}}
                    Inicio
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'index-admin.equipos'}}
                    Equipos
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'index-admin.sedes'}}
                   Sedes
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'index-admin.encuentros'}}
                    Encuentros
                {{/link-to}}
            </li>
        </ul>
    </div>
     
</nav>

{{outlet}}

<!--footer-->